.addComment{
    margin-left: -19%;
    margin-top: 5%;
}


.comment-top{
    margin-left: 5%;
    margin-top: 8%;
}

.comments{
    margin-left: 5%;
}

.comment{
    border: #E6E6E6 solid 1px;
    padding: 2%;
    margin-top: 5%;
}

.time2{
    margin-left: 70%;
}