body{
	width: 100%;
	height: 100%;
	/*background-color: black;*/
	background-image: url('../pictures/welcome2.png');
}

.LjjStyle{
	text-align: center; 
	width: 50%;
	height: 100%;
	overflow: hidden;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: "等线 Light";
    font-size: 400%;
}

p{
	color: black;
}
h6{
	font-size: 60%;
	color: black;
}