<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>首页</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.all.js}"></script>
    <link rel="stylesheet" th:href="@{/zxsstyle/reset.css}">
    <link rel="stylesheet" th:href="@{/zxsstyle/top.css}">
    <link rel="stylesheet" th:href="@{/zxsstyle/medium.css}">
    <link rel="stylesheet" th:href="@{/pictures/font_2379782_la0j5lcuty9/iconfont.css}">
</head>

<body>
    <div class="layui-nav layui-bg-green top clearfix">
        <span class="left">
            <a th:href="@{/index}">
                <div class="layui-logo">
                    <i class="layui-icon layui-icon-dialogue" style="font-size: 160%; color: white;"></i>
                    <i class="layui-icon layui-icon-cart-simple" style="font-size: 160%; color: white;"></i>
                    <i class="layui-icon layui-icon-face-smile" style="font-size: 160%; color: white;"></i>
                </div>
            </a>
        </span>

        <span class="right">


            <span><!--class="log"-->
                <i class="layui-icon layui-icon-username"></i>
                <!--登录后显示用户名与退出登录按钮，点击进入该user的后台管理界面-->
                <span calss="log2" shiro:authenticated="">
                    <a th:text="${username}" th:href="@{/user/}+${userid}" class="layui-btn layui-btn-sm"></a>
                    <a th:href="@{/logout}" class="layui-btn layui-btn-sm">退出登录</a>
                </span>
                <!--未登录显示登录/注册按钮-->
                <div class="layui-btn-group log2" shiro:notAuthenticated="">
                    <a th:href="@{/login}" class="layui-btn layui-btn-sm">登录</a>
                    <a th:href="@{/register}" class="layui-btn layui-btn-sm">注册</a>
                </div>
            </span>

        </span>
    </div>


    <div class="medium">

        <div class="nav">
            <div class="layui-btn-group button my-button-group nav1">
                <!-- btn-color-->
                <a th:href="@{/goods/books}" class="layui-btn layui-btn-primary">书籍</a>
                <a th:href="@{/goods/studysupplies}" class="layui-btn layui-btn-primary">学习用品</a>
                <a th:href="@{/goods/transportation}" class="layui-btn layui-btn-primary">交通工具</a>
                <a th:href="@{/goods/electronicproduct}" class="layui-btn layui-btn-primary">电子产品</a>
                <a th:href="@{/goods/dailynecessities}" class="layui-btn layui-btn-primary">生活日用品</a>
                <a th:href="@{/goods/clothing}" class="layui-btn layui-btn-primary">衣物</a>
                <a th:href="@{/goods/othergoods}" class="layui-btn layui-btn-primary">其他</a>
<!--                <a th:href="@{/index}" class="layui-btn layui-btn-primary">全部</a>-->


            </div>
            <div>
            <span class="right1">
                <!-- <i class="layui-icon layui-icon-search"></i> -->
                <form class="search" th:action="@{/goods/search}">
                    <input type="text " class="layui-input" placeholder="搜你想要的" required lay-verify="required" name="searchContent">
                    <div class="search1">
                        <button class="layui-btn layui-btn-primary log1" lay-submit type="submit">搜索</button>
                    </div>

                </form>
            </span>
            </div>
        </div>


        <div class="imgs">
            <div class="img" th:if="0<${goods.size()}">
                <a th:href="@{/goods/}+${goods.get(0).getGoodsid()}">
                    <div class="img-div">
                        <img th:src="${imagesMap.get(goods.get(0).getGoodsid())}">
                    </div>
                    <div class="title1">
                        <div class="name" th:text="${goods.get(0).getTitle()}"></div>
                    </div>
                    <div class="title2 clearfix">
                        <div class="price" th:text="￥+${goods.get(0).getPrice()}"></div>
                        <s class="img-info">购入时￥[[${goods.get(0).getOriginalPrice()}]]</s>
                    </div>


                </a>
            </div>





            <div class="img" th:if="1<${goods.size()}">
                <a th:href="@{/goods/}+${goods.get(1).getGoodsid()}">
                    <div class="img-div">
                    <img th:src="${imagesMap.get(goods.get(1).getGoodsid())}">
                    </div>
                    <div class="title1">
                        <div class="name" th:text="${goods.get(1).getTitle()}"></div>
                    </div>
                    <div class="title2 clearfix">
                        <div class="price" th:text="￥+${goods.get(1).getPrice()}"></div>
                        <s class="img-info">购入时￥[[${goods.get(1).getOriginalPrice()}]]</s>
                    </div>
                </a>
            </div>

            <div class="img" th:if="2<${goods.size()}">
                <a th:href="@{/goods/}+${goods.get(2).getGoodsid()}">
                    <div class="img-div">
                    <img th:src="${imagesMap.get(goods.get(2).getGoodsid())}">
                    </div>
                    <div>
                        <div class="title1">
                        <div class="name" th:text="${goods.get(2).getTitle()}"></div>
                        </div>
                        <div class="title2 clearfix">
                        <div class="price" th:text="￥+${goods.get(2).getPrice()}"></div>
                        <s>购入时￥[[${goods.get(2).getOriginalPrice()}]]</s>
                        </div>
                    </div>
                </a>
            </div>

            <div class="img" th:if="3<${goods.size()}">
                <a th:href="@{/goods/}+${goods.get(3).getGoodsid()}">
                    <div class="img-div">
                    <img th:src="${imagesMap.get(goods.get(3).getGoodsid())}">
                    </div>
                    <div>
                        <div class="title1">
                        <div class="name" th:text="${goods.get(3).getTitle()}"></div>
                        </div>
                        <div class="title2 clearfix">
                        <div class="price" th:text="￥+${goods.get(3).getPrice()}"></div>
                        <s>购入时￥[[${goods.get(3).getOriginalPrice()}]]</s>
                        </div>
                    </div>
                </a>
            </div>

            <div class="img" th:if="4<${goods.size()}">
                <a th:href="@{/goods/}+${goods.get(4).getGoodsid()}">
                    <div class="img-div">
                    <img th:src="${imagesMap.get(goods.get(4).getGoodsid())}">
                    </div>
                    <div>
                        <div class="title1">
                        <div class="name" th:text="${goods.get(4).getTitle()}"></div>
                        </div>
                        <div class="title2 clearfix">
                        <div class="price" th:text="￥+${goods.get(4).getPrice()}"></div>
                        <s>购入时￥[[${goods.get(4).getOriginalPrice()}]]</s>
                        </div>
                    </div>
                </a>
            </div>

            <div class="img" th:if="5<${goods.size()}">
                <a th:href="@{/goods/}+${goods.get(5).getGoodsid()}">
                    <div class="img-div">
                    <img th:src="${imagesMap.get(goods.get(5).getGoodsid())}">
                    </div>
                    <div>
                        <div class="title1">
                        <div class="name" th:text="${goods.get(5).getTitle()}"></div>
                        </div>
                        <div class="title2 clearfix">
                        <div class="price" th:text="￥+${goods.get(5).getPrice()}"></div>
                        <s>购入时￥[[${goods.get(5).getOriginalPrice()}]]</s>
                        </div>
                    </div>
                </a>
            </div>

            <div class="img" th:if="6<${goods.size()}">
                <a th:href="@{/goods/}+${goods.get(6).getGoodsid()}">
                    <div class="img-div">
                    <img th:src="${imagesMap.get(goods.get(6).getGoodsid())}">
                    </div>
                    <div>
                        <div class="title1">
                        <div class="name" th:text="${goods.get(6).getTitle()}"></div>
                        </div>
                        <div class="title2 clearfix">
                        <div class="price" th:text="￥+${goods.get(6).getPrice()}"></div>
                        <s>购入时￥[[${goods.get(6).getOriginalPrice()}]]</s>
                    </div>
                    </div>
                </a>
            </div>

            <div class="img" th:if="7<${goods.size()}">
                <a th:href="@{/goods/}+${goods.get(7).getGoodsid()}">
                    <div class="img-div">
                        <img th:src="${imagesMap.get(goods.get(7).getGoodsid())}">
                    </div>
                    <div>
                        <div class="title1">
                        <div class="name" th:text="${goods.get(7).getTitle()}"></div>
                        </div>
                        <div class="title2 clearfix">
                        <div class="price" th:text="￥+${goods.get(7).getPrice()}"></div>
                        <s class="img-info">购入时￥[[${goods.get(7).getOriginalPrice()}]]</s>
                        </div>
                    </div>
                </a>
            </div>

            <div class="img" th:if="8<${goods.size()}">
                <a th:href="@{/goods/}+${goods.get(8).getGoodsid()}">
                    <div class="img-div">
                    <img th:src="${imagesMap.get(goods.get(8).getGoodsid())}">
                    </div>
                    <div>
                        <div class="title1">
                        <div class="name" th:text="${goods.get(8).getTitle()}"></div>
                        </div>
                        <div class="title2 clearfix">
                        <div class="price" th:text="￥+${goods.get(8).getPrice()}"></div>
                        <s>购入时￥[[${goods.get(8).getOriginalPrice()}]]</s>
                    </div>
                    </div>
                </a>
            </div>

        </div>

        <div class="changePage">
            <a th:href="${reqPath}+'pageNum=1'" class="layui-btn">首页</a>
            <a th:href="${reqPath}+'pageNum='+${pageInfo.prePage}" class="layui-btn">
                <i class="layui-icon">&#xe603;</i>
            </a>
            <span>[[${pageInfo.pageNum}]]/[[${pageInfo.pages}]]</span>
            <a th:href="${reqPath}+'pageNum='+${pageInfo.nextPage}" class="layui-btn">
                <i class="layui-icon">&#xe602;</i>
            </a>
            <a th:href="${reqPath}+'pageNum='+${pageInfo.pages}" class="layui-btn">尾页</a>
        </div>
        <hr class="layui-bg-green line">
        <a th:href="@{/introduction}" target="_blank">
            <div class="bottom">关于本站</div>
        </a>

        <div class="bottom">
            <a href="https://github.com/ktsrkw/sjutfleamarket.net" target="_blank">
                <i class="iconfont">&#xe628;</i>
                <span>github</span>
            </a>

        </div>

        <div class="bottom">联系地址:ktsrkw@163.com</div>

    </div>
    <script th:src="@{/layui/layui.all.js}"></script>
    <script>
        ;!function(){
        }();
    </script>

</body>

</html>