<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>关于本站</title>
	<link rel="stylesheet" type="text/css" th:href="@{/Mycss/intro.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}">
</head>

<body>
	<div class="information">
		<div class="technology">
			<span>技术栈</span>
		</div>
		<div>
			<hr class="layui-bg-green">
		</div>
		<div>
			<div class="mode">&emsp;&emsp;模板引擎：thymeleaf</div>
			<div class="back">&emsp;&emsp;后台：Springboot + Mybatis + Shiro</div>
			<div class="DB">&emsp;&emsp;数据库：MySQL</div>
		</div>
		</br>
		</br>
		<div class="code">
			<span>用到的其他开源代码</span>
		</div>
		<div>
			<hr class="layui-bg-green">
		</div>
		<div>
			<div class="layui">&emsp;&emsp;Layui : <a href="https://www.layui.com/" target="_blank">layui.com</a></div>
			<div class="pagehelper">&emsp;&emsp;pagehelper : <a href="https://github.com/pagehelper/pagehelper-spring-boot" target="_blank">pagehelper-github</a></div>
			<div class="pagehelper">&emsp;&emsp;thumbnailator : <a href="https://github.com/coobird/thumbnailator" target="_blank">thumbnailator-github</a></div>
		</div>
		</br>
		</br>
		<div class="material">
			<span>图片素材来源</span>
		</div>
		<div>
			<hr class="layui-bg-green">
		</div>
		<div>
			<div class="declare">&emsp;&emsp;本站使用到的图片素材均为<a href="https://www.hituyu.com/" target="_blank">图鱼网</a>提供的免费素材</div>
			<div></div>
		</div>
		</br>
		</br>


		<div class="team" style="height: 2px;">
			<span>开发团队与分工</span>
		</div>
		<div class="mistake">
			<div>
				<hr class="layui-bg-green">
			</div>
			<div>
				<div class="front">&emsp;&emsp;前台：赵鑫申、林俊杰、王涛</div>
				<div class="back1">&emsp;&emsp;后台&数据库&部署：王涛</div>
			</div>
			</br>
			</br>
		</div>

		<div class="aspiration">
			<span>我们的初心</span>
		</div>
		<div>
			<hr class="layui-bg-green">
		</div>
		<div>
			<span> </span>
			<p>&emsp;&emsp;我们学校（上海工程技术大学）的学生公寓内常年存在着大量的被遗弃的自行车，这些自行车不仅造成了资源的浪费，还占用了大量的自行车棚，导致同学们停车难的问题。这些自行车多为毕业生留下的，要是能为这些毕业生和需要的自行车非毕业生提供一个信息平台作为交流的桥梁那该多好。于是最初的想法“上海工程技术大学二手自行车信息网”就诞生了，后来经过指导教师孔丽红的建议，我们将目标扩大成为了“松江大学城二手物品信息网”，我们希望这个网站可以为松江大学城各高校的同学们提供一个同城的闲置物品信息发布平台。
			</p>
		</div>
	</div>
</body>

</html>