<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/zxsstyle/zxsform.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <a th:href="@{/index}" class="layui-logo">
            <i class="layui-icon layui-icon-dialogue" style="font-size: 160%;"></i>
            <i class="layui-icon layui-icon-cart-simple" style="font-size: 160%;"></i>
            <i class="layui-icon layui-icon-face-smile" style="font-size: 160%;"></i>
        </a>
        <!-- layui 后台布局 头部区域（可配合layui已有的水平导航） -->

        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <p th:text="${username}"></p>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item">
                    <a th:href="@{/user/}+${userid}">账户设置</a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/releasegoods}">发布闲置物品</a>
                </li>
                <li class="layui-nav-item" >
                    <a th:href="@{/managergoods}">管理我的发布</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="zxsform">
            <form class="layui-form" th:action="@{/updategoodsinfo}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="goodsid" th:value="${goods.getGoodsid()}">
                <div class="layui-form-item">
                    <label class="layui-form-label">商品名称</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" name="title" lay-verify="required" th:value="${goods.getTitle()}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品类别</label>
                    <div class="layui-input-block">
                        <select name="category">
                            <option th:selected="${goods.getCategory().equals('学习用品')}" value="学习用品">学习用品</option>
                            <option th:selected="${goods.getCategory().equals('交通工具')}" value="交通工具">交通工具</option>
                            <option th:selected="${goods.getCategory().equals('生活日用品')}" value="生活日用品">生活日用品</option>
                            <option th:selected="${goods.getCategory().equals('衣物')}" value="衣物">衣物</option>
                            <option th:selected="${goods.getCategory().equals('电子产品')}" value="电子产品">电子产品</option>
                            <option th:selected="${goods.getCategory().equals('书籍')}" value="书籍">书籍</option>
                            <option th:selected="${goods.getCategory().equals('其他')}" value="其他">其他</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">商品照片</label>
                    <div class="layui-input-block">
                        <input 	class="layui-btn" type="file" name="uploadFiles" multiple>
                        <span>*可按住Ctrl键同时选中多张上传*</span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">购入时价格</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" name="originalPrice" lay-verify="required" th:value="${goods.getOriginalPrice()}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">出手价格</label>
                    <div class="layui-input-block">
                        <input class="layui-input" type="text" name="price" lay-verify="required" th:value="${goods.getPrice()}">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">商品描述</label>
                    <div class="layui-input-block">
                        <textarea class="layui-textarea" name="description" th:text="${goods.getDescription()}"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" type="submit" lay-submit>提交修改</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        松江大学城二手物品信息网 - SJUTFleaMarket.net
    </div>
</div>
<script th:src="@{/layui/layui.all.js}"></script>
<script>
    ;!function(){

    }();
</script>
</body>
</html>