<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wt.mapper.GoodsMapper">
    <!--为了优先展示最新发布的商品，对查询结构做逆序-->
    <select id="getAllGoods" resultType="Goods">
        select * from `goods` where `status`=1 order by `goodsid` desc
    </select>

    <select id="getGoodsById" resultType="Goods">
        select * from `goods` where `goodsid`=#{goodsid} and `status`=1
    </select>

    <select id="getGoodsByCategory" parameterType="String" resultType="Goods">
        select * from `goods` where `category`=#{category} and `status`=1 order by `goodsid` desc
    </select>

    <select id="getGoodsByInputName" parameterType="String" resultType="Goods">
        select * from `goods` where `title` like concat('%',#{searchContent},'%')
        or `category` like concat('%',#{searchContent},'%') and `status`=1 order by `goodsid` desc
    </select>

    <insert id="addAGoods" parameterType="Goods">
        insert into `goods`(`userid`,`deliveryTime`,`title`,`description`,
                            `category`,`originalPrice`,`price`,`status`)
                values (#{userid},#{deliveryTime},#{title},#{description},
                        #{category},#{originalPrice},#{price},#{status})
    </insert>

    <select id="getGoodsByTitle" parameterType="String" resultType="Goods">
        select * from `goods` where `title`=#{title} and `status`=1
    </select>

    <select id="getGoodsByUserid" resultType="Goods">
        select * from `goods` where `userid`=#{userid}
    </select>

    <update id="updateGoods" parameterType="Goods">
        update `goods` set `title`=#{title},`description`=#{description},
                           `category`=#{category},`originalPrice`=#{originalPrice},
                           `price`=#{price}
                        where `goodsid`=#{goodsid}
    </update>

    <update id="offShelfGoodsByGoodsid">
        update `goods` set `status`=0 where `goodsid`=#{goodsid}
    </update>
    <update id="onShelfGoodsByGoodsid">
        update `goods` set `status`=1 where `goodsid`=#{goodsid}
    </update>

    <delete id="deleteGoodsByGoodsId">
        delete from `goods` where `goodsid`=#{goodsid}
    </delete>

    <select id="getUserIdByGoodsId" resultType="int">
        select `userid` from `goods` where `goodsid`=#{goodsid}
    </select>

    <select id="getGoodsIdByDateAndTitle" resultType="int">
        select `goodsid` from `goods`
        where `title`=#{title} and `deliveryTime`>=#{date}
    </select>
</mapper>